<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Iniciar sesión</h1>

    <form [formGroup]="reactiveForm" >
      <div class="form-container">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="email" name="email" formControlName="email" clearInput required></ion-input>
          </ion-item>
          <small errorText *ngIf="reactiveForm.get('email').invalid && 
                                  reactiveForm.get('email').touched">
            * Este campo no puede estar vacio
          </small>
        </ion-col>

        <!-- <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" name="username" formControlName="username" clearInput required></ion-input>
          
        </ion-item> -->
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"
          name="password"
          formControlName="password" required>
        </ion-input>
          <ion-icon name="eye" slot="end"></ion-icon>
        </ion-item>
  
        <ion-button expand="block" class="main-button" (click)="login()" [disabled]="reactiveForm.invalid"  >Iniciar Sesión</ion-button>

        <!-- <div class="sign-up">
          ¿No tienes una cuenta? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Crear una</ion-button>
        </div> -->
      </div>
    </form>
    
  </div>
</ion-content>
